.Rproj.user
.Rhistory
.RData
.Ruserdata

**/`Shane's Files`/IPIP-FFM-data-8Nov2018/data-final.csv

/`McKay's Files`/r2list.RData
/`McKay's Files`/r2_sims_df.RData
/`McKay's Files`/r2_sims_dfLong.RData
/`McKay's Files`/normalized.csv
/`McKay's Files`/distances.RData


